/* Limpar formatações padrão para evitar incompatibilidade */
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: "Helvetica";
    background: rgb(219, 219, 219);
}
/******************************************************* Formatação padrão de links*/
a{
    text-decoration: none;
}
a:link, a:visited {
    color: #f7b600;
    
}
a:hover{
    text-decoration: underline;
}
   
a:active{
    color: rgb(247, 37, 37);
}
/*****************************************************************************************/
/**************************************************************************Links do Menu*/
#area-cabecalho a:link, #area-cabecalho a:visited {
    color: white;
    padding: 8px 12px ;
}
#area-cabecalho a:hover{
    color: #f7b600;
    background: #fff;
}
#area-cabecalho a:active{
    color: gray;
    }
    /**************************************************************************************/
/* **************************************************** Layout *** */
#area-cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;

}
#area-logo{
    padding: 10px;

}
#area-menu{
    padding: 10px;

}

#area-principal{ /* ****************************************Area Principal*/
   
    width: 920px;
    margin: 0 auto; /* ao definir a segunda margem como automatico o navegador vai
                    colocar o conteudo no meio e se ajustar automaticamente*/

    padding: 15px;                }
#area-postagens{
    width: 660px;
    float: left;
}
#area-lateral{
    width: 240px;
    float:right;
    
}
.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    
}
.texto-lateral{
    font-size: 0,8em;
    padding: 5px;

}


    #rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    

}
/**************************************************************************/
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco{
    color: white;
}
/* ****************************************************************Postagem*/
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);

}
h2{
    color: #f7b600;
}
h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
}
.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block; /* A utilização deste elemento faz com que a formatação seja aplicada como bloco e não na linha*/

}